<section>
<h3>{{T "Liste des chansons"}}</h3>
<ul class="links">
<li><a href="../accroche">Accroche</a></li>
<li><a href="../à_tire_d~elles">À tire d'elles</a></li>
<li><a href="../barbiche">Barbiche</a></li>
<li><a href="../bologne">Bologne</a></li>
<li><a href="../changement_climatique">Changement climatique</a></li>
<li><a href="../clôdine_agathe_georges_et_les_autres_...">Clôdine Agathe Georges et les autres ...</a></li>
<li><a href="../court">Court</a></li>
<li><a href="../elle_était_con">Elle était con</a></li>
<li><a href="../embrasse-moi">Embrasse-moi</a></li>
<li><a href="../emma_liébel">Emma Liébel</a></li>
<li><a href="../entre_baalbek_et_zahlé">Entre Baalbek et Zahlé</a></li>
<li><a href="../gamme">Gamme</a></li>
<li><a href="../je_chante_pour_mes_copains">Je chante pour mes copains</a></li>
<li><a href="../jean_le_libertin">Jean le libertin</a></li>
<li><a href="../la_caulaincourt">La Caulaincourt</a></li>
<li><a href="../la_femme_du_boulanger">La femme du boulanger</a></li>
<li><a href="../la_fille_du_bar">La fille du bar</a></li>
<li><a href="../la_marche_des_peineux">La marche des peineux</a></li>
<li><a href="../la_milonga">La Milonga</a></li>
<li><a href="../la_reine_de_la_plage">La reine de la plage</a></li>
<li><a href="../la_rupture">La rupture</a></li>
<li><a href="../la_saphique">La saphique</a></li>
<li><a href="../la_tournée_des_ringards">La tournée des ringards</a></li>
<li><a href="../la_vie_madame">La vie madame</a></li>
<li><a href="../lancelot">Lancelot</a></li>
<li><a href="../le_carrousel_de_paimpol">Le carrousel de Paimpol</a></li>
<li><a href="../le_casse">Le casse</a></li>
<li><a href="../le_chemin_des_dames">Le chemin des dames</a></li>
<li><a href="../le_grenier_de_mon_coeur">Le grenier de mon coeur</a></li>
<li><a href="../le_guitariste">Le guitariste</a></li>
<li><a href="../le_petit_bar">Le petit bar</a></li>
<li><a href="../le_sel">Le sel</a></li>
<li><a href="../le_signe_du_destin">Le signe du destin</a></li>
<li><a href="../les_aurores_boréales">Les aurores boréales</a></li>
<li><a href="../les_chagrins">Les chagrins</a></li>
<li><a href="../les_filles_de_mar_del_plata">Les filles de Mar del Plata</a></li>
<li><a href="../les_joies_du_vélo">Les joies du vélo</a></li>
<li><a href="../les_spaghetti">Les spaghetti</a></li>
<li><a href="../les_tempes_grises">Les tempes grises</a></li>
<li><a href="../les_vieux_amants">Les vieux amants</a></li>
<li><a href="../lettre_à_mon_père">Lettre à mon père</a></li>
<li><a href="../mes_frères_d~arme">Mes frères d'arme</a></li>
<li><a href="../mes_frères_les_cailloux">Mes frères les cailloux</a></li>
<li><a href="../ne_faites_pas_l~amour">Ne faites pas l'amour</a></li>
<li><a href="../on_chante_ses_chansons">On chante ses chansons</a></li>
<li><a href="../on_se_dit_tu">On se dit tu</a></li>
<li><a href="../on_sème">On sème</a></li>
<li><a href="../pablo">Pablo</a></li>
<li><a href="../papa_pique">Papa pique</a></li>
<li><a href="../pimprenelle">Pimprenelle</a></li>
<li><a href="../promenade">Promenade</a></li>
<li><a href="../tango_à_jehro">Tango à Jehro</a></li>
<li><a href="../toulouse">Toulouse</a></li>
<li><a href="../ulysse">Ulysse</a></li>
<li><a href="../une_danse">Une danse</a></li>
<li><a href="../une_histoire_assez_ancienne">Une histoire assez ancienne</a></li>
<li><a href="../un_jour">Un jour</a></li>
<li><a href="../vous_n~entendtrez_jamais">Vous n'entendrez jamais</a></li>

