/* Conteneur principal */
#logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligné à gauche */
    justify-content: flex-start; /* Colle en haut */
    height: auto;
    padding: 0 8vw; /* Marges latérales */
}

/* Grand logo */
#logo {
    font-size: 7vw;
    color: #F7F7F7;
    white-space: nowrap;
    line-height: 1;
    margin: 0;
    padding-top: 0; /* Réduction marge haute */
    padding-bottom: 0; /* Plus de marge en bas */
}

/* Petit logo */
#arespirer {
    font-size: 3vw; /* 3x plus petit */
    color: #F7F7F7;
    white-space: nowrap;
    margin: 0;
    padding: 0 0 0 0; /* Moins d’espace entre les deux */
    align-self: flex-end; /* Décale à droite */
}

/* Mode mobile : cacher le petit logo */
@media (max-width: 768px) {
    #arespirer {
        display: none;
    }

    #logo {
        font-size: 12vw;
    }
}





/* Assurer que son parent est bien positionné */
.parent-container {
    position: relative; /* Nécessaire pour que le `bottom: 0;` fonctionne */
    height: 100px; /* Ajuste selon tes besoins */
}
/* Media query pour les petits écrans (ex : smartphones), mais plus tard pour ne pas entrer trop tôt */
@media (max-width: 700px) {
    #logo-wrapper {
        justify-content: center; /* Assure que tout reste centré sur petit écran */
        padding: 0 10px; /* Réduit la marge sur les petits écrans */
    }

    #logo {
        font-size: 5vw; /* Augmente la taille du logo central sur petit écran */
        transform: scale(1); /* Supprime l'effet de scale pour éviter le décalage */
        width: auto; /* Permet au logo de s'adapter à la taille de l'écran */
    }

    #arespirer {
        display: none ! important; /* Cache le logo de droite sur les petits écrans */
    }
}

@media (min-width: 701px) { /* Quand l'écran est plus large que 700px */
    #arespirer {
        display: block; /* Le remettre visible */
    }
}

@media (max-width: 700px) { /* Quand l'écran est plus petit que 700px */
    #arespirer {
        display: none !important; /* Forcer la disparition */
    }
}

li::marker {
  color: red;

}
élément {
}
ul li {
  padding-left: 0.5em;

}
// li {
//   list-style-type: "=>";
//
// }li::marker {
//   color: black;
//
// }

a {
  color: #000025;
  font-weight: bold; /* Met les liens en gras */
  text-decoration: none; /* Supprime le soulignement */
  border-bottom: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="18"><rect width="12" height="6" fill="%23d1910f"/><rect y="6" width="12" height="12" fill="%23470a09"/></svg>');
  padding-left: 25px; /* Décalage pour le texte */
  margin-bottom: 5px;
}



li[class] {
  display: block;
  list-style-type: none;
}

#nav{
   // Fond navigation et menu
	background-color: #470a09;
    background-color: #B0B0B0;
}

#nav .current{
	font-weight: bold;
	color: #F7F7F7 ;
}

// Couleur Item menu a vide
#nav > ul > li a {
  color: #ffcb50;
  font-weight: bold;
}

.dropotron > li > a {
  color: #ffcb50;

  font-weight: bold;
}

.dropotron{
  background-color: #470a09;
  background-color: #73737B;
}


#nav::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.75em;
  background-color: #ffaa00;
  background-color: #000025;
}


#header
{
  //  Fond Les Jetés De L'Encre'
  background-color: #000025;

}

.menu {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.menu.active {
    color: red;
    font-weight: bold;
    border-bottom: 2px solid red;
}

/* Empêcher les sous-menus d'être affectés */
.submenu .menu.active {
    color: black;
    font-weight: normal;
    border-bottom: none;
}

